<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>OUTPUT: </p>
    <div *ngIf="Load">{{LoadingText}}</div>
    <div *ngIf="showArr">{{numArr}}</div>
    <ion-button (click)="goAuthorize()">Authorize</ion-button>
    <ion-button (click)="goUnauthorize()">Unauthorize</ion-button>
    <ion-button (click)="showNum()">ShowNumber</ion-button>
    <ion-button (click)="Addnum()">AddNumber</ion-button>
  </div>
</ion-content>
